use nix

# Inside docker the locale might be wrong which causes any
# pyhon CLI that depends on 'click' to fail.
if [ -z "$LANG" ]; then
    export LOCALE_ARCHIVE=$(nix-build '<nixpkgs>' -A glibcLocales)/lib/locale/locale-archive
    export LC_ALL="en_US.utf8"
    export LANG="en_US.UTF-8"
fi

layout_pipenv
