#!/bin/bash

use nix

# HACK remove pip from PYTHONPATH so if pipenv updates it the
# one provided by nix doesn't get imported instead.
PYTHONPATH=$(echo "$PYTHONPATH" | sed -e 's/:[^:]*-pip-[^:]*:/:/g')

layout_pipenv
